*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

svg,
symbol {
  overflow: visible;
  fill: currentColor;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:first-child,
table:first-child {
  margin-top: 0!important;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

*::selection {
  background-color: #366465;
  color: #fff;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea {
  field-sizing: content;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff'), url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.eot');
  src: url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff'), url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.eot');
  src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff'), url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Regular.eot');
  src: url('../fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Unbounded-Regular.woff2') format('woff2'), url('../fonts/Unbounded-Regular.woff') format('woff'), url('../fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #181818;
  background-color: #F4F3EE;
  min-width: 320px;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
}

.overflow {
  overflow: hidden;
}

.tac {
  text-align: center;
}

.home section {
  position: relative;
  margin: 140px 0;
}

.home section.hero {
  margin-top: 0;
}

.h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 44px;
}

.h2-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

section .h2 {
  margin-bottom: 40px;
}

section .h2-box {
  margin-bottom: 40px;
}

section .h2-box .h2 {
  margin-bottom: 0;
}

.accent {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff622c;
  }

  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff622c;
  }

  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Starting size (100%) */
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    /* Scale up to 150% at the midpoint */
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Return to original size */
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Starting size (100%) */
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    /* Scale up to 150% at the midpoint */
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Return to original size */
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.btn {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(5, 64, 66, 0.1);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  padding: 16px 36px;
  text-align: center;
  color: #FCFAF4;
  background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span {
  position: relative;
}

.btn span::after {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FCFAF4;
  right: -16px;
  top: 50%;
  margin-top: -3px;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(254.98deg, #054042 25.55%, #065558 84.76%);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: inherit;
  z-index: -1;
}

.btn:hover::before,
.btn:active::before,
.btn:focus::before {
  opacity: 1;
}

.btn-online {
  padding-right: 52px;
}

.btn-o {
  background: transparent;
  border: 1px solid rgba(5, 64, 66, 0.1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.btn-o:hover,
.btn-o:active,
.btn-o:focus {
  color: #fff;
}

.btn-o span::after {
  background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.btn-o:hover span::after,
.btn-o:active span::after,
.btn-o:focus span::after {
  background: #fff;
}

.soc {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(5, 64, 66, 0.1);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.soc:hover path {
  fill: #fff;
}

.soc::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: inherit;
  z-index: -1;
}

.soc:hover::before,
.soc:active::before,
.soc:focus::before {
  opacity: 1;
}

.soc__btns {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  text-align: left;
}

.form__box {
  width: 100%;
  padding: 24px 20px;
  border-radius: 4px;
  background-color: rgba(252, 250, 244, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.form__item {
  position: relative;
  width: 230px;
}

.form .plus,
.form .minus {
  position: absolute;
  bottom: 10px;
  font-size: 30px;
}

.form .plus {
  right: 40px;
}

.form .minus {
  right: 20px;
}

.form__submit {
  height: 50px;
}

.form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 16px 14px;
  padding-left: 48px;
  border: 1px solid rgba(5, 64, 66, 0.1);
  border-radius: 4px;
  color: rgba(24, 24, 24, 0.7);
  font-size: 14px;
  background-color: #FCFAF4;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.form__input:focus {
  border: 1px solid #042627;
}

.form__input[type="number"] {
  padding-right: 65px;
}

.form__input[name="land"] {
  background-image: url(../img/land.svg);
}

.form__input[name="cal"] {
  background-image: url(../img/cal.svg);
}

.form__input[name="guests"] {
  background-image: url(../img/user.svg);
}

.form label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.nice-select {
  padding-left: 48px;
  width: 100%;
  height: 50px;
  line-height: 48px;
  color: rgba(24, 24, 24, 0.7);
  font-size: 14px;
  background: #FCFAF4 url(../img/takeoff.svg) no-repeat 14px center;
}

.nice-select .option {
  color: #042627;
}

.flatpickr-day {
  color: rgba(24, 24, 24, 0.7);
}

span.flatpickr-weekday {
  color: #181818;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
  border-radius: 4px;
  border: none;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #E4E7E1;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  width: 32px;
  height: 32px;
  padding: 10px;
  border: 1px solid #0540421A;
  border-radius: 4px;
  background: url(../img/arrow-prev.svg) no-repeat center;
  font-size: 0;
  cursor: pointer;
}

.arrow-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
  z-index: 2;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 214px;
  height: auto;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.header__menu li {
  padding: 12px;
}

.header__menu a {
  color: rgba(24, 24, 24, 0.7);
  transition: all 0.3s ease;
}

.hero {
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  background: #EFE8E0 url(../img/hero-bg.jpg) no-repeat center bottom / cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 700px;
  padding-top: 65px;
}

.hero__descr {
  margin-top: 20px;
  max-width: 341px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: rgba(24, 24, 24, 0.7);
  margin-bottom: 20px;
}

.hero__obj {
  position: relative;
  left: -500px;
  will-change: transform;
}

.hero .form__box {
  margin-top: auto;
}

.about {
  background-image: url(../img/about-bg.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: 60% auto;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.about__text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66666666666667% - 20px);
  margin-left: calc(58.333333333333336% + 10px);
}

.about .h2 {
  margin-bottom: 20px;
}

.about__descr {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(24, 24, 24, 0.7);
}

.about__descr b {
  font-weight: 400;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.about__btn {
  margin-top: 60px;
}

.about__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 60px;
}

.about__card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 24px;
  border: 1px solid #0540421A;
  background-color: rgba(252, 250, 244, 0.6);
  border-radius: 4px;
}

.about__name {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  color: rgba(24, 24, 24, 0.7);
}

.about__name::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about__digit {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.features .arrows {
  display: none;
}

.features__box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.features__item {
  position: relative;
  min-height: 300px;
  background-color: #9F9596;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.features__item:nth-child(1) {
  grid-column: 1 / span 4;
}

.features__item:nth-child(2) {
  grid-column: 5 / span 3;
}

.features__item:nth-child(3) {
  grid-column: 8 / span 3;
}

.features__item:nth-child(4) {
  grid-column: 1 / span 3;
}

.features__item:nth-child(5) {
  grid-column: 4 / span 3;
}

.features__item:nth-child(6) {
  grid-column: 7 / span 4;
}

.features__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #F4F3EE;
  z-index: 2;
  transition: 0.3s;
}

.features__overlay {
  position: absolute;
  inset: 0;
  padding: 24px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  line-height: 1.2;
  color: #FCFAF4;
  opacity: 0;
  transition: 0.3s;
}

.features__item:hover .features__overlay,
.features__item.active .features__overlay {
  opacity: 1;
}

.features__item:hover .features__title,
.features__item.active .features__title {
  opacity: 0;
}

.team .arrows {
  display: none;
}

.team__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.team__item {
  width: 630px;
  display: flex;
  gap: 8px;
}

.team__pic {
  position: relative;
  border-radius: 4px;
  width: 262px;
  flex-shrink: 0;
}

.team__pic img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__info {
  padding: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #F4F3EE;
}

.team__name {
  position: relative;
  padding-left: 14px;
  font-size: 20px;
  font-weight: 500;
}

.team__name::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FCFAF4;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.team__pos {
  margin-top: 8px;
}

.team__descr {
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-size: 16px;
  color: rgba(24, 24, 24, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(5, 64, 66, 0.1);
}

.team__text {
  margin-bottom: auto;
}

.team__text p {
  margin-bottom: 0;
}

.team__text p + p {
  margin-top: 8px;
}

.team__link {
  margin-top: 24px;
}

.contacts-link {
  display: flex;
  gap: 12px;
  align-items: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
}

.guidance {
  font-size: 18px;
}

.guidance__content {
  padding: 80px 20px;
  background: #FCFAF4 url(../img/guidance-bg.jpg) no-repeat center right / cover;
}

.guidance__top {
  margin-bottom: 32px;
}

.guidance__bottom {
  margin-top: 24px;
  color: rgba(24, 24, 24, 0.7);
}

.guidance__top,
.guidance__bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 490px;
}

.guidance__btn {
  display: inline-block;
  margin-top: 40px;
}

.services__content {
  padding: 40px;
  background: #D1C9BC url(../img/services-bg.jpg) no-repeat center right / cover;
  border-radius: 4px;
  min-height: 478px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.services__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  padding: 20px;
  background-color: rgba(252, 250, 244, 0.9);
  border-radius: 4px;
}

.services__pic {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}

.services__title {
  font-size: 20px;
  font-weight: 500;
}

.services__descr {
  margin-top: 8px;
  color: rgba(24, 24, 24, 0.7);
}

.safety .h2 {
  margin-bottom: 60px;
}

.safety__box {
  display: grid;
  grid-template-columns: 30% 40% 1fr;
  grid-template-areas: "a c d" "b c d";
  gap: 20px;
}

.safety__item {
  position: relative;
  background-color: #9F9596;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.safety__item:nth-child(1) {
  grid-area: a;
  min-height: 227px;
}

.safety__item:nth-child(2) {
  grid-area: b;
  min-height: 172px;
}

.safety__item:nth-child(3) {
  grid-area: c;
}

.safety__item:nth-child(4) {
  grid-area: d;
}

.safety__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #F4F3EE;
}

.flight {
  background: url(../img/flight-bg.jpg) no-repeat center bottom / cover;
  overflow: hidden;
}

.flight__content {
  position: relative;
  padding: 80px 0;
  height: 700px;
}

.flight .h2 {
  max-width: 480px;
  margin-bottom: 0;
}

.flight .h2 span {
  display: block;
}

.flight__obj {
  will-change: transform;
}

.footer {
  padding: 60px 0;
  font-size: 14px;
  background-color: #E9E5DF;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer__left {
  width: 295px;
  display: flex;
  flex-direction: column;
}

.footer .logo img {
  width: 214px;
  height: auto;
}

.footer__descr {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__develop {
  margin-top: auto;
}

.footer__develop a {
  text-decoration: underline;
}

.footer__center {
  width: 340px;
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.footer__menu li + li {
  margin-top: 14px;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
}

.footer__btns {
  margin-top: 30px;
  gap: 12px;
}

.footer__contacts {
  margin-bottom: auto;
}

.footer__contacts p {
  margin: 0;
}

.footer__contacts p + p {
  margin-top: 14px;
}

.footer__right {
  width: 305px;
  display: flex;
  flex-direction: column;
}

.footer__right .btn {
  margin-bottom: auto;
  width: 100%;
}

.footer__copyright {
  margin-top: 20px;
}

.footer__copyright li + li {
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .home section {
    margin: 60px 0;
  }

  .h1 {
    font-size: 26px;
  }

  .h2 {
    font-size: 24px;
  }

  section .h2 {
    margin-bottom: 28px;
  }

  section .h2-box {
    margin-bottom: 28px;
  }

  .btn {
    font-size: 13px;
    padding: 16px 38px;
  }

  .soc {
    width: 40px;
    height: 40px;
  }

  .form {
    gap: 8px;
  }

  .form__box {
    padding: 16px;
  }

  .form__item {
    width: 100px;
    flex-grow: 1;
  }

  .form__item:nth-child(1),
  .form__item:nth-child(2) {
    width: 100%;
  }

  .form__submit {
    width: 100%;
  }

  .form__input {
    padding: 12px 14px;
    padding-left: 38px;
    font-size: 13px;
  }

  .form label {
    display: none;
  }

  .nice-select {
    font-size: 13px;
  }

  .header {
    padding: 16px 0;
  }

  .header__content {
    padding: 10px;
    border-radius: 4px;
    background: rgba(252, 250, 244, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .header .logo img {
    width: 137px;
  }

  .header__menu {
    display: none;
  }

  .header .popup-link {
    display: none;
  }

  .hero__content {
    min-height: 50vh;
    height: auto;
    padding-top: 34px;
  }

  .hero__descr {
    font-size: 15px;
  }

  .hero__obj {
    left: 0;
  }

  .hero .form__box {
    margin-top: 50px;
  }

  .about {
    background-position-x: center;
    background-position-y: center;
    background-size: 100% auto;
    padding-bottom: 66px;
  }

  .about__text {
    width: calc(100% - 20px);
  }

  .about__text {
    margin-left: calc(0% + 10px);
  }

  .about .h2 {
    margin-bottom: 12px;
  }

  .about__descr {
    margin-top: 12px;
    font-size: 15px;
  }

  .about__btn {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
  }

  .about__cards {
    margin-top: 168px;
  }

  .about__card {
    width: calc(50% - 20px);
  }

  .about__card {
    padding: 16px;
    margin-top: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__name {
    padding-left: 11px;
    font-size: 13px;
  }

  .about__digit {
    font-size: 24px;
  }

  .features .arrows {
    display: flex;
  }

  .features__box {
    display: block;
  }

  .features__item {
    width: 280px;
    margin-right: 10px;
  }

  .features__title {
    font-size: 18px;
  }

  .team .arrows {
    display: flex;
  }

  .team__box {
    display: block;
  }

  .team__item {
    display: block;
    width: unset;
  }

  .team__pic {
    display: flex;
    align-items: stretch;
    gap: 12px;
    width: 100%;
  }

  .team__pic img {
    width: 120px;
    height: auto;
  }

  .team__info {
    width: 100%;
    padding: 20px;
    position: static;
    color: rgba(24, 24, 24, 0.7);
    border: 1px solid rgba(5, 64, 66, 0.1);
    border-radius: 4px;
    font-size: 13px;
  }

  .team__name {
    font-size: 18px;
    color: #181818;
  }

  .team__name::before {
    background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
  }

  .team__descr {
    margin-top: 12px;
    padding: 16px;
    font-size: 13px;
  }

  .guidance {
    font-size: 15px;
  }

  .guidance__content {
    padding-top: 100px;
    padding-bottom: 40px;
    background: #FCFAF4 url(../img/guidance-bg-m.jpg) no-repeat center top / contain;
  }

  .guidance__top {
    margin-bottom: 16px;
  }

  .guidance__bottom {
    margin-top: 16px;
  }

  .guidance__btn {
    margin-top: 28px;
  }

  .services {
    margin: 0;
    padding: 40px 0;
    background: #D1C9BC url(../img/services-bg-m.jpg) no-repeat center top / cover;
  }

  .services .h2 {
    margin-bottom: 20px;
  }

  .services__content {
    padding: 0;
    background: transparent;
    min-height: auto;
  }

  .services__item {
    width: calc(100% - 20px);
  }

  .services__item {
    padding: 16px;
    display: flex;
    gap: 22px;
  }

  .services__item + .services__item {
    margin-top: 10px;
  }

  .services__pic {
    margin-bottom: 0;
    width: 24px;
    height: 24px;
  }

  .services__title {
    font-size: 18px;
  }

  .services__descr {
    font-size: 13px;
  }

  .safety .h2 {
    margin-bottom: 28px;
  }

  .safety__box {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a" "b c" "d d";
    gap: 12px;
  }

  .safety__item {
    min-height: 150px;
  }

  .safety__item:nth-child(1) {
    min-height: 130px;
  }

  .safety__item:nth-child(2) {
    min-height: 130px;
  }

  .safety__title {
    padding: 16px;
    font-size: 18px;
  }

  .flight__content {
    max-height: 50vh;
    padding: 40px 0;
  }

  .flight .h2 {
    max-width: 100%;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 5px;
  }

  .footer__content {
    display: block;
  }

  .footer__left {
    width: 100%;
  }

  .footer .logo img {
    width: 280px;
  }

  .footer__develop {
    display: none;
  }

  .footer__center {
    margin-top: 32px;
    width: 100%;
    justify-content: flex-start;
    gap: 60px;
  }

  .footer__right {
    margin-top: 32px;
    width: 100%;
    display: block;
  }

  .footer__copyright {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}