.contact {

    .form {
        font-size: 14px;

        &__row {
            .md-block({
                flex-wrap: wrap
            });
        }

        &__row-5 {
            .form__item {
                flex-grow: 0;
            }
        }

        &__item {
            flex-basis: 176px;
            flex-grow: 1;

            .md-block({
                flex-basis: 140px;
            });
        }

        &__item-from, &__item-land {
            .md-block({
                flex-basis: 100%;
            });
        }
    }

}