.dest {
    // padding-top: 100px;
    // padding-bottom: 60px;
    background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
    
    &__content {
        height: 782px;
        position: relative;

        .xs-block({
            height: 680px;
        });
    }

    &__list {
        height: 480px;
    }

    .slick-list {
        .md(margin-right, -20px);
    }

    &__pic {
        display: block;
        margin-left: auto;
        max-width: calc(100% - 220px);
        height: 600px;

        .md-block({
            max-width: 100%;
            height: 480px;
        });

        .xs(height, 400px);
    }

    &__text {
        position: absolute;
        top: 100px;
        left: 0;
        color: @light2;

        .md-block({
            top: unset;
            bottom: 40px;
        });
    }

    &__subtitle {
        margin-bottom: 24px;
        font-size: 18px;

        .md-block({
            margin-bottom: 8px;
            font-size: 15px;
        });
    }

    &__title {
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        font-size: 40px;

        .md(font-size, 24px);
    }

    .arrows {
        position: absolute;
        top: 252px;
        left: 0;
        z-index: 2;

        .md-block({
            left: unset;
            right: 0;
            top: 420px;
        });

        .xs-block({
            top: 320px;
        });
    }

    .form__box {
        position: absolute;
        left: 0;
        // right: 20px;
        bottom: 60px;
        z-index: 2;

        .md(bottom, 34px);
    }
}