.flight {
    background: url(../img/flight-bg.jpg) no-repeat center bottom/cover;
    overflow: hidden;
    
    &__content {
        position: relative;
        padding: 80px 0;
        // min-height: 50vh;
        // max-height: 700px;
        height: 700px;
        
         .md-block({
            max-height: 50vh;
            padding: 40px 0;
        });
    }
    
    .h2 {
        max-width: 480px;
        margin-bottom: 0;

        .md-block({
            max-width: 100%
        });

        span {
            display: block;
        }
    }

    &__obj {
    //     // position: absolute;
    //     // bottom: -300px;
    //     // left: 50%;
    //     // transform: translateX(-50%);
    will-change: transform;

    //     // .md-block({
    //     //     bottom: -150px;
    //     // });
    }
}