.flight {
    background: url(../img/flight-bg.jpg) no-repeat center bottom/cover;
    // min-height: 50vh;
    // max-height: 700px;
    height: 700px;
    overflow: hidden;
    
    .h2 {
        max-width: 480px;
        padding: 20px 0;

        .md-block({
            padding: 40px 0;
            max-width: 100%
        });

        span {
            display: block;
        }
    }

    // &__obj {
    //     position: absolute;
    //     bottom: 0;
    // }
}