.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 24px 0;
    z-index: 2;

    .md-block({
        padding: 16px 0;
    });
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .md-block({
            padding: 10px;
            border-radius: 4px;
            background: rgba(252, 250, 244, 0.3);
            backdrop-filter: blur(10px);
        });
    }

    .logo img {
        width: 214px;
        height: auto;

        .md(width, 137px);
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;

        .md-block({
            display: none;
        });
        
        li {
            padding: 12px;
        }
        
        a {
            color: @text2;
            transition: all 0.3s ease;

            // &:hover {
            //     text-decoration: underline;
            //     color: transparent;
            //     -webkit-background-clip: text;
            //     background-clip: text;
            //     background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
            // }

        }

    }


    &__btns {
        display: flex;
        gap: 8px;
        align-items: center;
    }

}