.hero {
    position: relative;
    height: 100vh;
    max-height: 800px;
    // height: 800px;
    background: #EFE8E0 url(../img/hero-bg.jpg) no-repeat center bottom/cover;
    overflow: hidden;

    .container {
        height: 100%;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }

    &__descr {
        margin-top: 20px;
        max-width: 341px;
    }

    &__obj {
        position: absolute;
        top: 20%;
        right: -1000px;
    }
}