.hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 40px;
    background: #EFE8E0 url(../img/hero-bg.jpg) no-repeat center bottom/cover;
    overflow: hidden;
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 700px;
        padding-top: 65px;
        
        .md-block({
            max-height: 50vh;
            padding-top: 34px;
        });
    }

    &__descr {
        margin-top: 20px;
        max-width: 341px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        color: @text2;
        margin-bottom: 20px;

        .md-block({
            font-size: 15px;
        })
    }

    &__obj {
        position: relative;
        left: -500px;
        will-change: transform;

        .md-block({
            left: 0;
        });
    }

    &__form {
        margin-top: auto;
        width: 100%;
        padding: 24px 20px;
        border-radius: 4px;
        background-color: rgba(252, 250, 244, 0.3);
        backdrop-filter: blur(10px)
    }
}