.safety {

    .h2 {
        margin-bottom: 60px;
        .md(margin-bottom, 28px);
    }

    &__box {
        display: grid;
        grid-template-columns: 30% 40% 1fr;
        grid-template-areas:
            "a c d"
            "b c d";
        gap: 20px;

        .md-block({
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "a a"
                "b c"
                "d d";
            gap: 12px;
        });
    }

    &__item {
        position: relative;
        background-color: #9F9596;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        overflow: hidden;

        .md-block({
            min-height: 150px;
        });
    }

    &__item:nth-child(1) {
        grid-area: a;
        min-height: 227px;

        .md(min-height, 130px);
    }

    &__item:nth-child(2) {
        grid-area: b;
        min-height: 172px;

        .md(min-height, 130px);
    }

    &__item:nth-child(3) {
        grid-area: c;
    }

    &__item:nth-child(4) {
        grid-area: d;
    }

    &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 24px;
        font-size: 20px;
        font-weight: 500;
        color: @light1;

        .md-block({
            padding: 16px;
            font-size: 18px;
        });
    }
    
}