.how-it-works {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #f5f4ef;
}

.how-it-works__inner {
  position: relative;
  height: 100vh;
  padding: 80px 42px;
}

// .how-it-works__title {
//   margin: 0 0 30px;
//   font-size: 28px;
//   line-height: 1;
// }

/* timeline */

.how-it-works__timeline {
  position: relative;
  width: 100%;
}

.how-it-works__line {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #deded8;
}

.how-it-works__steps {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.how-it-works__step {
  position: relative;
  padding-top: 30px;
  color: #929b9a;
  transition: color 0.3s ease;
}

.how-it-works__dot {
  position: absolute;
//   top: 4px;
  top: 0;
//   left: 0;
  left: 6px;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: #899796;
  border: 4px solid #e2e4df;
  box-sizing: content-box;

  transform: translate(-50%, 0);
}

.how-it-works__step.is-active {
  color: #092f30;
}

.how-it-works__step.is-active .how-it-works__dot {
  background: #092f30;
}

.how-it-works__number {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
}

.how-it-works__content h3 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
}

.how-it-works__content p {
  max-width: 282px;
  margin: 0;

  font-size: 16px;
  line-height: 1.2;
}

/* plane */

.how-it-works__plane {
  position: absolute;
  top: -24px;
  left: 0;

  width: 42px;
  height: 20px;

  z-index: 2;
  pointer-events: none;
}

.how-it-works__plane img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {

  .how-it-works {
    min-height: 100vh;
    overflow: hidden;
  }

  .how-it-works__inner {
    height: 100vh;
    padding: 65px 0 0 49px;
    overflow: hidden;
  }

  .how-it-works__title {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 1;
  }

  .how-it-works__timeline {
    position: relative;
    width: 100%;
    overflow: visible;
  }

  /*
   * Линия теперь шире экрана,
   * потому что внутри находится 4 колонки.
   */
  .how-it-works__line {
    top: 10px;
    left: 0;
    width: 200vw;
  }

  /*
   * Горизонтальная лента.
   *
   * 4 колонки по 50vw.
   * Поэтому одновременно видно
   * примерно 2 колонки.
   */
  .how-it-works__steps {
    display: grid;
    grid-template-columns: repeat(4, 50vw);
    width: 200vw;

    transform: translateX(0);
    will-change: transform;
  }

  .how-it-works__step {
    width: 50vw;
    padding-top: 30px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  /*
   * Точки находятся всегда
   * в начале каждой колонки.
   */
  .how-it-works__dot {
    top: 4px;
    left: 0;

    width: 10px;
    height: 10px;

    transform: translateX(-50%);
  }

  .how-it-works__content {
    padding-right: 15px;
  }

  .how-it-works__number {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .how-it-works__content h3 {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.2;
  }

  .how-it-works__content p {
    max-width: 210px;
    font-size: 11px;
    line-height: 1.35;
  }

  /*
   * Самолётик
   */
  .how-it-works__plane {
    top: -7px;

    width: 35px;
    height: auto;

    will-change: transform;
  }

}