.team {

    .arrows {
        display: none;
        .md(display, flex);
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        .md(display, block);
    }

    &__item {
        width: 630px;

        display: flex;
        gap: 8px;

        .md-block({
            display: block;
            width: unset;
        });
    }

    &__pic {
        position: relative;
        border-radius: 4px;
        width: 262px;
        flex-shrink: 0;

        .md-block({
            display: flex;
            align-items: stretch;
            gap: 12px;
            width: 100%;
        });

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;

            .md-block({
                width: 120px;
                height: auto;
            });
        }
    }

    &__info {
        padding: 24px;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 14px;
        color: @light1;

        .md-block({
            width: 100%;
            padding: 20px;
            position: static;
            color: @text2;
            border: 1px solid rgba(5, 64, 66, 0.1);
            border-radius: 4px;
            font-size: 13px;
        });
    }

    &__name {
        position: relative;
        padding-left: 14px;
        font-size: 20px;
        font-weight: 500;

        .md-block({
            font-size: 18px;
            color: @text;
        });

         &::before {
            display: block;
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: @light2;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            .md-block({
                background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
            });
        }
    }

    &__pos {
        margin-top: 8px;
    }

    &__descr {
        display: flex;
        flex-direction: column;

        padding: 24px;
        font-size: 16px;
        color: @text2;
        border-radius: 4px;
        border: 1px solid rgba(5, 64, 66, 0.1);

        .md-block({
            margin-top: 12px;
            padding: 16px;
            font-size: 13px;
        });

    }

    &__text {
        margin-bottom: auto;

         p {
            margin-bottom: 0;
        }

        p + p {
            margin-top: 8px;
        }
    }
    
    &__link {
        margin-top: 24px;
    }

    &__link .btn-link span {
        position: relative;
        padding-right: 30px;
        display: inline-block;
    }

    &__link .btn-link span::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #042F31;
        transition: width 0.3s ease;
    }

    &__link .btn-link:hover span::before {
        width: calc(100% - 30px);
    }
}
