.btn {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(5, 64, 66, 0.1);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;

    padding: 16px 36px;
    text-align: center;

    color: @light2;
    background: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);
   
    z-index: 1;
    overflow: hidden;
    cursor: pointer;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    .md-block({
        font-size: 13px;
        padding: 16px 38px;
    });

    span {
        position: relative;

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: @light2;
            right: -16px;
            top: 50%;
            margin-top: -2px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(254.98deg, #054042 25.55%, #065558 84.76%);
        opacity: 0;
        transition: opacity 0.4s ease;
        border-radius: inherit;
        z-index: -1;
    }

    &:hover::before,
    &:active::before,
    &:focus::before {
        opacity: 1;
    }
}

.btn-online {
    padding-right: 52px;
}

.btn-o {
    background: transparent;
    border: 1px solid rgba(5, 64, 66, 0.1);

    color: #042F31;

    // color: transparent;
	// -webkit-background-clip: text;
	// background-clip: text;
    // background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);

    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }

    span::after {
        background: #042F31;
    }

    &:hover span::after,
    &:active span::after,
    &:focus span::after {
        background: #fff;
    }

}

.btn-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 48px;
    height: 48px;
    padding: 12px;
    // background: url(../arrow-prev-w.svg) no-repeat center/contain;
    border-radius: 4px;
    z-index: 10;
    font-size: 0;
    color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    .md-block({
        width: 44px;
        height: 44px;
        padding: 5px;
        bottom: 10px;
        right: 20px;
    });
}

.btn-adds {
    overflow: unset;
    color: #042A2B;
    padding-right: 55px;

    &:hover,
    &:active,
    &:focus {
        color: #042A2B;
    }

    &::before {
        content: '';
        width: 24px;
        height: 24px;
        opacity: 1;
        inset: unset;
        right: 16px;
        top: 50%;
        margin-top: -12px;
        background: url(../img/arrow-prev.svg) no-repeat center;
        transform: rotate(270deg);
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: -20px;
        content: 'pets, food, etc.';
        font-size: 14px;
        color: @text2;
    }
}

.btn-adds.active {
    &::before {
        transform: rotate(90deg);
    }
}

.btn-link {
    font-size: 16px;
    font-weight: 600;
    color: #042F31;

    .md(font-size, 13px);

    span {
        position: relative;
        padding-right: 30px;

        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 19px;
            top: 0;
            right: 0;
            background: url(../img/arrow-left.svg) no-repeat center;
        }
    }
}