.form {
    text-align: left;

    &__row {
        display: flex;
        text-align: left;
        gap: 20px;
        
        .md-block({
            flex-wrap: wrap;
            gap: 8px;
        });
    }

    .form__row + .form__row {
        margin-top: 10px;
    }

    &__row-1 {
        .form__input {
            padding-left: 48px;
            background-repeat: no-repeat;
            background-position: 10px center;
            
            .md(padding-left, 38px);
        }
    }

    &__row-2 {
        margin-bottom: 32px;
    }

    &__row-5 {
       flex-wrap: wrap;
       gap: 10px;

    }

    .form__row-last {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        .md-block({
            display: block;
        });
    }

    &__btns {
        margin-bottom: 40px;
        display: flex;
        gap: 20px;
    }

    &__adds {
        display: none;

         .form__row {
            margin-top: 24px;
         }

        .form__row + .form__row {
            margin-top: 24px;
        }
    }

    .label {
        width: 100%;
    }
    
    &__box {
        width: 100%;
        padding: 24px 20px;
        border-radius: 4px;
        background-color: rgba(252, 250, 244, 0.3);
        backdrop-filter: blur(10px);

        .md-block({
            padding: 16px;
        });

        .form__row {
            justify-content: center;
            align-items: flex-end;
            gap: 16px;

            .md-block({
                flex-wrap: wrap;
                gap: 8px;
            });
        }

        .form__item {
            position: relative;
            flex-basis: 176px;
            flex-grow: 1;

            .md-block({
                flex-basis: 100px;
            });
        }

        .form__item-from, .form__item-land {
            .md-block({
                flex-basis: 100%;
            });
        }

        .form__input {
            // flex-basis: 250px;
            height: 50px;
            background-color: @light2;
            
            // .md-block({
            //     width: 100px;
            // });
        }

        label {
            margin-bottom: 8px;
            font-size: 15px;
            color: #042F31;

            .md(display, none);
        }

        .nice-select {
            background: @light2 url(../img/takeoff.svg) no-repeat 14px center;
        }
    }

    &__item {
        position: relative;
    }

    &__item-from, &__item-land {
       .md-block({
            flex-basis: 100%;
       });
    }

    .plus, .minus {
        position: absolute;
        bottom: 10px;
        // font-weight: 600;
        font-size: 30px;
    }

    .plus {
        right: 40px;
    }

    .minus {
        right: 20px;
    }

    &__submit {
        height: 50px;
        // flex-grow: 1;
        .md(width, 100%);
    }

    &__input {
        display: block;
        width: 100%;
        height: 50px;
        
        padding: 16px 14px;
        border: 1px solid rgba(5, 64, 66, 0.1);
        border-radius: 4px;
        color: @text2;
        font-size: 14px;

        .md-block({
            // width: 100px;
            padding: 12px 14px;
            font-size: 13px;
        });

        &:focus {
            border: 1px solid #042627;
        }
    }

    &__input[type="number"] {
        padding-right: 65px;
    }

    &__input[name="land"] {
        background-image: url(../img/land.svg);
    }

    &__input[name="cal"] {
        background-image: url(../img/cal.svg);
    }

    &__input[name="guests"] {
        background-image: url(../img/user.svg);
    }

    label {
        display: block;
        margin-bottom: 10px;
        // font-size: 15px;
        // color: transparent;
        // -webkit-background-clip: text;
        // background-clip: text;
        // background-image: linear-gradient(223.8deg, #054042 9.93%, #042627 87.61%);

        
    }

    &__checkbox {
        flex-shrink: 0;
        margin-right: 8px;
        position: relative;
        width: 16px;
        height: 16px;
        border: 1px solid @black;
        border-radius: 5px;
        // -webkit-appearance: checkbox;

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: @black;
            border-radius: 3px;
            left: 50%;
            top: 50%;
            // transform: translate(-50%, 50%);
            margin-left: -5px;
            margin-top: -5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease;
        }

        &:checked::before {
            opacity: 1;
            visibility: visible;
        }

        & + label {
            margin-bottom: 0;
        }
    }

    .form__checkbox-text {
        a {
            text-decoration: underline;
            transition: color 0.3s ease;

            &:hover {
                color: #042E30;
            }
        }
    }

    textarea.form__input {
        padding: 10px 14px;
        width: 100%;
        height: 112px;
    }

    &__contacts {
        display: flex;
        gap: 56px;

        .md-block({
            display: block;
            border-bottom: 1px solid #DCE1DC;
        });
    }

    &__contact {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;

        .md-block({
            align-items: center;
            flex-direction: row;
        });

        .md-block({
            padding: 20px 0;
            border-top: 1px solid #DCE1DC;
        });

        .btn-link {
           .md(margin-left, auto);
        }
    }

    &__contact-name {
        // margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        .md(font-size, 18px);
    }

    &__contact-tel {
        font-size: 16px;
        color: @text2;
        .md(font-size, 13px);
    }

}

.nice-select {
    padding-left: 48px;
    width: 100%;
    // flex-basis: 250px;
    height: 50px;
    line-height: 48px;
    // background-color: @light2;
    color: @text2;
    font-size: 14px;
    background: url(../img/takeoff.svg) no-repeat 14px center;

    .md-block({
        font-size: 13px;
    });

}

.nice-select .option {
    color: #042627;
}