.popup {
    width: 600px;
    padding: 40px;
    background-color: @light1;
    border-radius: 4px;

    .md-block({
        padding: 24px 20px;
    });

    &__title {
        margin-bottom: 24px;
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        font-size: 20px;
        width: 95%;
    }

    &__subtitle {
        font-size: 18px;
        color: @text2;

        .md(font-size, 15px);
    }

    .btn {
        margin-top: 40px;
        width: 100%;

        .md(margin-top, 24px);
    }



    &__form {

        .form__row {
            flex-wrap: wrap;
            gap: 10px;
        }
        
        .form__row + .form__row {
            margin-top: 24px;
        }

        .form__item {
            flex-grow: 1;
        }
        
        .form__input {
            flex-basis: 250px;
            flex-grow: 1;
            padding: 20px 14px;

            .md-block({
                padding: 16px 10px;
            });
        }

        label {
            // margin-bottom: 12px;
            font-size: 14px;
            .md(font-size, 13px);
        }

    }

}

.popup#success {
    padding-top: 200px;
    background: @light1 url(../img/popup-img.svg) no-repeat center 20px;

    .md(padding-top, 150px);
}

.fancybox-slide--html .fancybox-close-small {
    color: #053334;
    opacity: 1;
}
