.arrows {
    display: flex;
    align-items: center;
    gap: 8px;
}


.arrow {
    width: 32px;
    height: 32px;
    padding: 10px;
    border: 1px solid #0540421A;
    border-radius: 4px;
    background: url(../img/arrow-prev.svg) no-repeat center;
    font-size: 0;
}

.arrow-next {
    transform: rotate(180deg);
}